@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  height: 100vh;
}
body {
  overscroll-behavior: none;
  overscroll-behavior-block: none;
  overflow-x: auto;
  overflow-y: auto;

}
