.banner{

}
svg{

}
.loginButton{

}
.loginButton:hover{

}
.registerButton{

}
.registerButton:hover{

}
.bannerMenu{
  display: flex;
  margin-left: auto;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
