.banner{
  height: 10vh;

}
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
}
.register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
