/* @import "node_modules/ol/ol.css"; */

html, body {
  background: url('https://www.solidbackgrounds.com/images/2560x1600/2560x1600-dark-slate-gray-solid-color-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.ol-map {
  min-width: 600px;
  min-height: 500px;
  margin: 50px;
  height: 500px;
  width: "100%";
}

